*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.home{
    width: 100%;
    height: 100vh;
  
    background-image: url('1.jpg');
    background-size: cover;

}
.hedear{
  
    padding-top: 200px;
    margin-left: 50px;
    color: white;
}
.hedear h1{
    font-size: 50px;
    margin-bottom: 20px;
    font-style: italic;
}
.hedear p{
    font-size: 20px;
    line-height: 1.5;
}
.button{
    margin-top: 30px;
    justify-content: center;
 
}
.hedear h1 span{
    color:orange;
}

.btn{
    text-decoration: none;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 40px;
    justify-content: center;
    margin-left: 20%;
    


}
.btn:hover{
    background-color: white;
    color: orange;
    transition: 0.5s;
}
@media (max-width:768px){
    .hedear h1{
        font-size: 30px;
    }
    .hedear p{
        font-size: 16px;
    }
    .btn{
        margin-left: 10%;
    }
}
.about{
    width: 100%;
    height: 100vh;
   
    background:#0f0f0f;

}
.image{
    display:flex;
    justify-content: center;
    padding: 30px;;
}
.imgline img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin: 20px;

}
.lines{
    color: #fff;
    margin-top: 10%;
   

}
.lines h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: orange;
    font-style: italic;
}
.lines p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.serer{
    width: 100%;
    height: 100vh;
   
    background:#0f0f0f;
}
.lampe{
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #fff;
}
.lampe h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: orange;
    font-style: italic;
}
.card{
    flex-wrap: wrap;
    display:flex;
    justify-content: space-between;
    margin: 50px;
}
.box{

    width: 300px;
    height: 350px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.ledene{
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #fff;
}
.mone{
  
    justify-content: center;
    flex-direction: column;
    margin:auto;

}
.mone img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 10px;
   
}

